<%= simple_form_for @time, :url=>{:action=>"vol_update", :controller=> "experiencetables"} do |f| %>

	<%= f.label @industryQ %>

	<p style = "font-size: 15px;"> <b> <%=  @ft_question %> </b></p>			
	
	<%= f.select :vol_work, [['No',false],["yes",true]], :default => @time.vol_work, onchange: "myFunction()", id: "volunteer_select" %>								
		    						
	<%= f.label @vol_hours %>
	<br>
	<%= f.text_field :vol_hours, style: "width: 20%"%>

	<br>
	<br> 

	<%= f.label @table_info %>
	<table style = "margin-left: 10px;" id = "ft-exp">
		<tr>
			<td>
				<%= @ft_agr %>
			</td>
			<td>
				<%= f.input :agriculture, :label => false, as: :boolean do 
						f.check_box :agriculture, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_mining %>
			</td>
			<td>
				<%= f.input :mining, :label => false, as: :boolean do 
						f.check_box :mining, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_utilities %>
			</td>
			<td>
				<%= f.input :utilities, :label => false, as: :boolean do 
						f.check_box :utilities, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_construction %>
			</td>
			<td>
				<%= f.input :construction, :label => false, as: :boolean do 
						f.check_box :construction, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_manufactoring %>
			</td>
			<td>
				<%= f.input :manufacturing, :label => false, as: :boolean do 
						f.check_box :manufacturing, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_wholesale %>
			</td>
			<td>
				<%= f.input :wholesale, :label => false, as: :boolean do 
						f.check_box :wholesale, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_retail %>
			</td>
			<td>
				<%= f.input :retail, :label => false, as: :boolean do 
						f.check_box :retail, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_transport %>
			</td>
			<td>
				<%= f.input :transport, :label => false, as: :boolean do 
						f.check_box :transport, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_info %>
			</td>
			<td>
				<%= f.input :information, :label => false, as: :boolean do 
						f.check_box :information, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_finance %>
			</td>
			<td>
				<%= f.input :finance, :label => false, as: :boolean do 
						f.check_box :finance, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_real %>
			</td>
			<td>
				<%= f.input :real_estate, :label => false, as: :boolean do 
						f.check_box :real_estate, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_prof %>
			</td>
			<td>
				<%= f.input :professional, :label => false, as: :boolean do 
						f.check_box :professional, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_managment %>
			</td>
			<td>
				<%= f.input :managment, :label => false, as: :boolean do 
						f.check_box :managment, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_admin %>
			</td>
			<td>
				<%= f.input :administrative, :label => false, as: :boolean do 
						f.check_box :administrative, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_education %>
			</td>
			<td>
				<%= f.input :education, :label => false, as: :boolean do 
						f.check_box :education, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_health %>
			</td>
			<td>
				<%= f.input :health, :label => false, as: :boolean do 
						f.check_box :health, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_arts %>
			</td>
			<td>
				<%= f.input :arts, :label => false, as: :boolean do 
						f.check_box :arts, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_accom %>
			</td>
			<td>
				<%= f.input :accomodation, :label => false, as: :boolean do 
						f.check_box :accomodation, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td>
				<%= @ft_public %>
			</td>
			<td>
				<%= f.input :public, :label => false, as: :boolean do 
						f.check_box :public, {}, "true", "false"
				end %>
			</td>									
		</tr>
		<tr>
			<td style = "border: 0px">
				<%= @ft_other %>
			</td>
		</tr>
		<tr>
			<td style = "border: 0px">
				<%= f.text_field :other %>
			</td>
		</tr>
	</table>
	<%=f.hidden_field :volunteer, :value=>true, :name=>"temp" %>

	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>