<script type="text/javascript">
    $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})    

    function hide(){        
        document.getElementById("gen").selectedIndex = -1;
    }

    function showSaved(){
          $("#saved").fadeIn();
          setTimeout(function(){$("#saved").fadeOut("slow")}, 1000)
        }

    function showSaved2(){
      $("#saved2").fadeIn();
      setTimeout(function(){$("#saved2").fadeOut("slow")}, 1000)
    }
    function showSaved3(){
      $("#saved3").fadeIn();
      setTimeout(function(){$("#saved3").fadeOut("slow")}, 1000)
    }

</script>
<% @STATUS = [['Other','Other'],['Male','Male'],['Female','Female']] %>
<% @EDUCATION =[['Grade 9','Grade 9'], ['Grade 10','Grade 10'],['Grade 11','Grade 11'], ['Grade 12','Grade 12'],
				['High School','High School'], ['Some College','Some College'], ['College','College'], 
				['Some University','Some University'], ['Some Graduate Studies','Some Graduate Studies'], 
				['Masters','Masters'], ['Doctorial Degree','Doctorial Degree']] %>

<% @school = "What Level of Education do you have" %>
<% @postalcode = "What is Your Postal code" %>
<% @gender = "Your Gender" %>
<% @province = "What Province do you live in" %>
<% @city = "What City do you Live in" %>
<% @birthday = "When were you Born" %>
<% @other = "Other (specify)" %> 
<div class = "row">
    <div class = "col-lg-2">
	    <ul class="nav nav-pills nav-stacked" style = "margin-top: 10px">
	        <li class = "active"><a href="#you" data-toggle="tab">You</a></li>
	        <li><a href="#location" data-toggle="tab">Location</a></li>
	        <li><a href="#language" data-toggle="tab">Language</a></li>
	    </ul>
	</div>
    <div class ="col-lg-10">
        <div class = "tab-content">
        	<div class="tab-pane fade in active content survey-tabs" id="you"> 
        		<div class = "row">
        			<div class = "col-lg-7">
                        <%= simple_form_for @profile, remote: true do |f| %>
        		    		<%= f.label @birthday %><br />
        		  			<%= f.date_field :birthday, :default => @profile.birthday %>
        		    		<br>
        		    		<br>
        		    		<%= f.label @gender %>
                            <% if @profile.gender.nil? %>
                                <script type="text/javascript">
                                    hide();
                                </script>

        		    		    <%= f.select :gender, @STATUS, :id=>"gen", :default => " " %>
                            <% else %>
                                <%= f.select :gender, @STATUS, :default => @profile.gender%>
                            <% end %>
        		    		<br>
        		    		<br>
        		    		<%= f.label @school %>
        		    		<%= f.select :education, @EDUCATION, :default => @profile.education%>
        		    		<br>
        		    		<br>

    		    		<div class = "row">
    			    		<div class = "col-lg-3">
    			    			<%= f.submit "Submit", class: "btn btn-large btn-primary", onClick: "showSaved2();" %>  
    			    		</div>
    			    		<div class = "col-lg-4" id = "saved2" style= "display: none">
    			    			<div class = "alert alert-success" style = "width: 125px; padding: 6px; text-align: center; margin-bottom: 0px;">
    			    				Changes Saved
    			    			</div>
    						</div>
    					</div>  
    		    	</div>
    	    	</div>
    	    </div>
        	<div class="tab-pane fade in content survey-tabs" id="location"> 
        		<div class = "row">
        			<div class = "col-lg-7">
        				<%= f.label @province%>
        				<%= f.text_field :province%>
        				<br>
        				<br>
        				<%= f.label @city%>
        				<%= f.text_field :city%>
        				<br>
        				<br>
        				<%= f.label @postalcode%>
        				<%= f.text_field :postalcode%>
        				<br>
        				<br>
        				<div class = "row">
    				    		<div class = "col-lg-3">
    				    			<%= f.submit "Submit", class: "btn btn-large btn-primary", onClick: "showSaved();" %>  
    				    		</div>
    				    		<div class = "col-lg-4" id = "saved" style= "display: none">
    				    			<div class = "alert alert-success" style = "width: 125px; padding: 6px; text-align: center; margin-bottom: 0px;">
    				    				Changes Saved
    				    			</div>
    							</div>
    						</div>      				
        			</div>
        		</div>
        	</div>    	
    		<% end %>
        	<div class="tab-pane fade in content survey-tabs" id="language"> 
                <div class = "row">
                    <div class = "col-lg-7">
        		      <%= render 'shared/survey/profile/languages'%>
                  </div>
              </div>
        	</div> 
        </div>
    </div>
</div>