
<head>
  <script>

  function first(){
      var hash = document.location.hash;
      $(hash+'-li').addClass('active');
      //$('#'+hash.replace(prefix,"")).addClass('active');
      $(hash).addClass('active');
    }

  </script>
</head>


<body onload = "first()">

  <div class = "row">
    <div class = "col-lg-2">
      <ul class="nav nav-pills nav-stacked">

        <% @postings.each do |p| %>
          <li id = "<%=p.title.delete(' ')%>-li">
            <a href="#<%=p.title.delete(' ')%>" data-toggle="tab"><%= p.title %></a>
          </li>
        <% end %>

      </ul>
    </div>
    <div class = "col-lg-7">
      <div class = "tab-content">

        <% @postings.each do |p| %>
              <div class="tab-pane fade in content survey-tabs" id="<%=p.title.delete(' ')%>">                 
                <% @p = p
                    $postID = p.posting_id
                    @requirments = Skill.where(:posting_id => $postID)
                %>
              <%= render partial: "shared/postings" %>
              </div>
        <% end %>

      </div>
    </div>

    <% if @user.user_id == @owner.user_id %>
      <div class = "col-lg-3" id = "requirements_form">

         <%= simple_form_for @skill, :url => { :action => "create", :controller=>"skills" } do |f| %>
            
            <%= f.label "Enter a Requirment for the selected posting" %>

            <%= f.text_field :label %>               
              
            <%= f.hidden_field :posting_id, :value => $postID %>
                      
            <%= f.input :mandatory, collection: [['Mandatory', true], ['Optional',false]], :default => 1, :style => "width: 40%"%>
            <br>
              
            <%= f.submit "Submit",:label => "Submit", class: "btn btn-large btn-primary" %>
          <% end %>    
      </div>
    <% end %>
  </div>

</body>