
<% @label = "How easy would you find the following tasks to complete in an email program?" %>

<% @q1 = "Create a new email account" %>
<% @q2 = "Activate an email account" %>
<% @q3 = "Reset an email password" %>
<% @q4 = "Read email messages" %>
<% @q5 = "Reply to email messages" %>
<% @q6 = "Compose new email messages" %>
<% @q7 = "Send email messages" %>
<% @q8 = "Forward email mesages" %>
<% @q9 = "Send an email as a Reply to all " %>
<% @q10 = "Blank carbon copy someone on an email" %>
<% @q11 = "Flag an email as important" %>
<% @q12 = "Re@quest email client to notify you (the sender) when a respondent has read your email" %>
<% @q13 = "Email a meeting re@quest with a calender" %>
<% @q14 = "manage account using folders" %>
<% @q15 = "Send emails with attachments" %>
<% @q16 = "Setup POP/IMAP to synchronize emails" %>
<% @email = EmailSkill.find_by(:user_id=> @user.user_id) %>

<body>
	<%= simple_form_for @email, remote: true do |f| %>

		<%= f.label @label %>
		<table id = "survey_format">
			<tr>
				<th>
				</th>
				<th>
					<%= $header7 %>
				</th>
				<th>
					<%= $header8 %>
				</th>
				<th>
					<%= $header9 %>
				</th>
				<th>
					<%= $header10 %>
				</th>
				<th>
					<%= $header11 %>
				</th>
				<th>
					<%= $header12 %>
				</th>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q1 %>
				</td>
				<td>
					<%= f.radio_button :q1, 6, :default => @email.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 5, :default => @email.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 4, :default => @email.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 3, :default => @email.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 2, :default => @email.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 1, :default => @email.q1 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q2 %>
				</td>
				<td>
					<%= f.radio_button :q2, 6, :default => @email.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 5, :default => @email.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 4, :default => @email.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 3, :default => @email.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 2, :default => @email.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 1, :default => @email.q2 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q3 %>
				</td>
				<td>
					<%= f.radio_button :q3, 6, :default => @email.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 5, :default => @email.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 4, :default => @email.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 3, :default => @email.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 2, :default => @email.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 1, :default => @email.q3 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q4 %>
				</td>
				<td>
					<%= f.radio_button :q4, 6, :default => @email.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 5, :default => @email.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 4, :default => @email.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 3, :default => @email.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 2, :default => @email.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 1, :default => @email.q4 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q5 %>
				</td>
				<td>
					<%= f.radio_button :q5, 6, :default => @email.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 5, :default => @email.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 4, :default => @email.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 3, :default => @email.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 2, :default => @email.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 1, :default => @email.q5 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q6 %>
				</td>
				<td>
					<%= f.radio_button :q6, 6, :default => @email.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 5, :default => @email.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 4, :default => @email.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 3, :default => @email.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 2, :default => @email.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 1, :default => @email.q6 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q7 %>
				</td>
				<td>
					<%= f.radio_button :q7, 6, :default => @email.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 5, :default => @email.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 4, :default => @email.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 3, :default => @email.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 2, :default => @email.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 1, :default => @email.q7 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q8 %>
				</td>
				<td>
					<%= f.radio_button :q8, 6, :default => @email.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 5, :default => @email.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 4, :default => @email.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 3, :default => @email.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 2, :default => @email.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 1, :default => @email.q8 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q9 %>
				</td>
				<td>
					<%= f.radio_button :q9, 6, :default => @email.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 5, :default => @email.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 4, :default => @email.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 3, :default => @email.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 2, :default => @email.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 1, :default => @email.q9 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q10 %>
				</td>
				<td>
					<%= f.radio_button :q10, 6, :default => @email.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 5, :default => @email.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 4, :default => @email.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 3, :default => @email.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 2, :default => @email.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 1, :default => @email.q10 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q11 %>
				</td>
				<td>
					<%= f.radio_button :q11, 6, :default => @email.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 5, :default => @email.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 4, :default => @email.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 3, :default => @email.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 2, :default => @email.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 1, :default => @email.q11 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q12 %>
				</td>
				<td>
					<%= f.radio_button :q12, 6, :default => @email.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 5, :default => @email.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 4, :default => @email.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 3, :default => @email.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 2, :default => @email.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 1, :default => @email.q12 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q13 %>
				</td>
				<td>
					<%= f.radio_button :q13, 6, :default => @email.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 5, :default => @email.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 4, :default => @email.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 3, :default => @email.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 2, :default => @email.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 1, :default => @email.q13 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q14 %>
				</td>
				<td>
					<%= f.radio_button :q14, 6, :default => @email.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 5, :default => @email.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 4, :default => @email.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 3, :default => @email.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 2, :default => @email.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 1, :default => @email.q14 %>				
				</td>
			</tr>
			<tr id = "last_row">
				<td style = "text-align: left">
					<%= @q15 %>
				</td>
				<td>
					<%= f.radio_button :q15, 6, :default => @email.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 5, :default => @email.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 4, :default => @email.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 3, :default => @email.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 2, :default => @email.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 1, :default => @email.q15 %>				
				</td>
			</tr>
		</table>
		<br>
		<%= f.submit $continue, class: "btn btn-primary" %>
	<% end %>
</body>