<% @label = "Do you know what the following types of internet connections?" %>

<% @q1 = "Dialup" %>
<% @q2 = "LAN" %>
<% @q3 = "DSL" %>
<% @q4 = "Cable" %>

<% @private_header1 = "I don't know what this is" %>
<% @private_header2 = "I know what this is but i don't know how to use it" %>
<% @private_header3 = "I know what this is and know how to use it" %>
<% @private_header4 = "I am able to connect using this type of connection" %>
<% @private_header5 = "I am able to configure this type of connection" %>
<% @private_header6 = "I am able to trouble shoot this type of connection" %>

<%= simple_form_for @internetconnection do |f| %>

	<%= f.label @label %>
	<br>
	<table id = "survey_format">
		<tr>
			<th>
			</th>
			<th>
				<%= @private_header1 %>
			</th>
			<th>
				<%= @private_header2 %>
			</th>
			<th>
				<%= @private_header3 %>
			</th>			
		</tr>
		<tr>
			<td style = "text-align: left">
				<%= @q1 %>
			</td>
			<td>
				<%= f.radio_button :q1, 3, :default => @internetconnection.q1 %>				
			</td>
			<td>
				<%= f.radio_button :q1, 2, :default => @internetconnection.q1 %>				
			</td>
			<td>
				<%= f.radio_button :q1, 1, :default => @internetconnection.q1 %>				
			</td>
		</tr>
		<tr>
			<td style = "text-align: left">
				<%= @q2 %>
			</td>
			<td>
				<%= f.radio_button :q2, 3, :default => @internetconnection.q2 %>				
			</td>
			<td>
				<%= f.radio_button :q2, 2, :default => @internetconnection.q2 %>				
			</td>
			<td>
				<%= f.radio_button :q2, 1, :default => @internetconnection.q2 %>				
			</td>
		</tr>
		<tr>
			<td style = "text-align: left">
				<%= @q3 %>
			</td>
			<td>
				<%= f.radio_button :q3, 3, :default => @internetconnection.q3 %>				
			</td>
			<td>
				<%= f.radio_button :q3, 2, :default => @internetconnection.q3 %>				
			</td>
			<td>
				<%= f.radio_button :q3, 1, :default => @internetconnection.q3 %>				
			</td>
		</tr>
		<tr>
			<td style = "text-align: left">
				<%= @q4 %>
			</td>
			<td>
				<%= f.radio_button :q4, 3, :default => @internetconnection.q4 %>				
			</td>
			<td>
				<%= f.radio_button :q4, 2, :default => @internetconnection.q4 %>				
			</td>
			<td>
				<%= f.radio_button :q4, 1, :default => @internetconnection.q4 %>				
			</td>
		</tr>
	</table>

	<%= f.submit @continue, class: "btn btn-primary" %>

<% end %>