
<head>
<script>	
    function showSaved1(){
      $("#saved1").fadeIn();
      setTimeout(function(){$("#saved1").fadeOut("slow")}, 1000)
    }
</script>
</head>
<% @ANSWER = [['Not Sure','1'],['No','2'],['Yes','3']] %>

<% @label2 = "Do you know the difference between analog and digital technology?" %>
<% @label3 = "Can you interface the two appropriately?" %>
<% @label4 = "Do you understand the cross-platform font transferability issue?" %>
<% @tech_diff = TechnologyDifference.find_by(:user_id=> @user.user_id) %>

<head><script>
	 function selector(){
        $("#technology_difference_q1").prop("selectedIndex", -1)
        $("#technology_difference_q2").prop("selectedIndex", -1)
        $("#technology_difference_q3").prop("selectedIndex", -1)
    }
    window.onload = selector;
    </script>
	</head>
<body>

<%= simple_form_for @tech_diff, :remote=>true do |g| %>

		<div class = "row">
			<div class = "col-lg-12">
				<%= g.label @label2 %>
			</div>
		</div>
		<div class = "row">
			<div class = "col-lg-3">
				<%= g.select :q1, @ANSWER, :default => " " %>
			</div>
		</div>
		<div class = "row">
			<div class = "col-lg-12">
				<%= g.label @label3 %>
			</div>
		</div>
		<div class = "row">
			<div class = "col-lg-3">
				<%= g.select :q2, @ANSWER, :default => " " %>
			</div>
		</div>
		<div class = "row">
			<div class = "col-lg-12">
				<%= g.label @label4 %>
			</div>
		</div>
		<div class = "row">
			<div class = "col-lg-3">
				<%= g.select :q3, @ANSWER, :default => " " %>
			</div>
		</div>

		<div class="row">
			<div class = "col-lg-2">
				<%= g.submit $submit, class: "btn btn-large btn-primary", onClick: "showSaved1();"%> 
			</div>
			<div class = "col-lg-4" id = "saved1" style= "display: none">
				<div class = "alert alert-success" style = "width: 125px; padding: 6px; text-align: center; margin-bottom: 0px;">
					Changes Saved
				</div>
			</div>
		</div>
	<% end %>
	
</body>