<% @label = "How well does each of the following statements describe you?" %>
<% @label2 = "Which of the following best applies to you with respect to the following social media platforms? (Check all that apply)" %>

<% @private_header1 = "Does not describe me at all" %>
<% @private_header2 = "Does not describe me" %>
<% @private_header3 = "Describes me a little" %>
<% @private_header4 = "Describes me" %>
<% @private_header5 = "Describes me a lot" %>

<% @private_header6 = "I use this platform for work " %>
<% @private_header7 = "I use this platform for school" %>
<% @private_header8 = "I use this platform for personal use" %>
<% @private_header9 = "I do not use this platform" %>

<% @q1 = "I am an influencer when it comes to social media" %>
<% @q2 = "I enjoy creating content to post on social media" %>
<% @q3 = "I prefer to see what others are doing on social media rather than creating my own content" %>
<% @q4 = "I enjoy interacting with people online" %>
<% @q5 = "I have a good understanding of current emerging trends in social media" %>

<% @q6 = "Facebook" %>
<% @q7 = "Twitter" %>
<% @q8 = "Youtube" %>
<% @q9 = "LinkedIn" %>
<% @q10 = "Instagram" %>
<% @q11 = "Pintrest" %>
<% @q12 = "Google+" %>
<% @q13 = "Postmark" %>


<body>
	<%= simple_form_for @socialmediadesc do |f| %>

	<%= f.label @label %>

		<table id= "survey_format">
			<tr>
				<th>
				</th>
				<th>
					<%= @private_header1 %>
				</th>
				<th>
					<%= @private_header2 %>
				</th>
				<th>
					<%= @private_header3 %>				
				</th>
				<th>
					<%= @private_header4 %>				
				</th>
				<th>
					<%= @private_header5 %>				
				</th>				
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q1 %>
				</td>
				<td>
					<%= f.radio_button :q1, 1, :default => @socialmediadesc.q1  %>				
				</td>
				<td>
					<%= f.radio_button :q1, 2, :default => @socialmediadesc.q1  %>				
				</td>
				<td>
					<%= f.radio_button :q1, 3, :default => @socialmediadesc.q1  %>				
				</td>
				<td>
					<%= f.radio_button :q1, 4, :default => @socialmediadesc.q1  %>				
				</td>
				<td>
					<%= f.radio_button :q1, 5, :default => @socialmediadesc.q1  %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q2 %>
				</td>
				<td>
					<%= f.radio_button :q2, 1, :default => @socialmediadesc.q2  %>				
				</td>
				<td>
					<%= f.radio_button :q2, 2, :default => @socialmediadesc.q2  %>				
				</td>
				<td>
					<%= f.radio_button :q2, 3, :default => @socialmediadesc.q2  %>				
				</td>
				<td>
					<%= f.radio_button :q2, 4, :default => @socialmediadesc.q2  %>				
				</td>
				<td>
					<%= f.radio_button :q2, 5, :default => @socialmediadesc.q2  %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q3 %>
				</td>
				<td>
					<%= f.radio_button :q3, 1, :default => @socialmediadesc.q3  %>				
				</td>
				<td>
					<%= f.radio_button :q3, 2, :default => @socialmediadesc.q3  %>				
				</td>
				<td>
					<%= f.radio_button :q3, 3, :default => @socialmediadesc.q3  %>				
				</td>
				<td>
					<%= f.radio_button :q3, 4, :default => @socialmediadesc.q3  %>				
				</td>
				<td>
					<%= f.radio_button :q3, 5, :default => @socialmediadesc.q3  %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q4 %>
				</td>
				<td>
					<%= f.radio_button :q4, 1, :default => @socialmediadesc.q4  %>				
				</td>
				<td>
					<%= f.radio_button :q4, 2, :default => @socialmediadesc.q4  %>				
				</td>
				<td>
					<%= f.radio_button :q4, 3, :default => @socialmediadesc.q4  %>				
				</td>
				<td>
					<%= f.radio_button :q4, 4, :default => @socialmediadesc.q4  %>				
				</td>
				<td>
					<%= f.radio_button :q4, 5, :default => @socialmediadesc.q4  %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q5 %>
				</td>
				<td>
					<%= f.radio_button :q5, 1, :default => @socialmediadesc.q5  %>				
				</td>
				<td>
					<%= f.radio_button :q5, 2, :default => @socialmediadesc.q5  %>				
				</td>
				<td>
					<%= f.radio_button :q5, 3, :default => @socialmediadesc.q5  %>				
				</td>
				<td>
					<%= f.radio_button :q5, 4, :default => @socialmediadesc.q5  %>				
				</td>
				<td>
					<%= f.radio_button :q5, 5, :default => @socialmediadesc.q5  %>				
				</td>
			</tr>
		</table>
		<br>
		<%= f.submit @submit, class: "btn btn-primary" %>
	<% end %>


	<%= simple_form_for @socialmediaplat do |g| %>

		<%= g.label @label2 %>

		<table id= "survey_format">
			<tr>
				<th>
				</th>
				<th>
					<%= @private_header6 %>
				</th>
				<th>
					<%= @private_header7 %>
				</th>
				<th>
					<%= @private_header8 %>				
				</th>
				<th>
					<%= @private_header9 %>				
				</th>						
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q6 %>
				</td>
				<td>
					<%= g.input :q1a, :label => false, as: :boolean do 
							g.check_box :q1a, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q1b, :label => false, as: :boolean do 
							g.check_box :q1b, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q1c, :label => false, as: :boolean do 
							g.check_box :q1c, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q1d, :label => false, as: :boolean do 
							g.check_box :q1d, {}, "true", "false"
							end %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q7 %>
				</td>
				<td>
					<%= g.input :q2a, :label => false, as: :boolean do 
							g.check_box :q2a, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q2b, :label => false, as: :boolean do 
							g.check_box :q2b, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q2c, :label => false, as: :boolean do 
							g.check_box :q2c, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q2d, :label => false, as: :boolean do 
							g.check_box :q2d, {}, "true", "false"
							end %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q8 %>
				</td>
				<td>
					<%= g.input :q3a, :label => false, as: :boolean do 
							g.check_box :q3a, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q3b, :label => false, as: :boolean do 
							g.check_box :q3b, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q3c, :label => false, as: :boolean do 
							g.check_box :q3c, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q3d, :label => false, as: :boolean do 
							g.check_box :q3d, {}, "true", "false"
							end %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q9 %>
				</td>
				<td>
					<%= g.input :q4a, :label => false, as: :boolean do 
							g.check_box :q4a, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q4b, :label => false, as: :boolean do 
							g.check_box :q4b, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q4c, :label => false, as: :boolean do 
							g.check_box :q4c, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q4d, :label => false, as: :boolean do 
							g.check_box :q4d, {}, "true", "false"
							end %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q10 %>
				</td>
				<td>
					<%= g.input :q5a, :label => false, as: :boolean do 
							g.check_box :q5a, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q5b, :label => false, as: :boolean do 
							g.check_box :q5b, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q5c, :label => false, as: :boolean do 
							g.check_box :q5c, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q5d, :label => false, as: :boolean do 
							g.check_box :q5d, {}, "true", "false"
							end %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q11 %>
				</td>
				<td>
					<%= g.input :q6a, :label => false, as: :boolean do 
							g.check_box :q6a, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q6b, :label => false, as: :boolean do 
							g.check_box :q6b, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q6c, :label => false, as: :boolean do 
							g.check_box :q6c, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q6d, :label => false, as: :boolean do 
							g.check_box :q6d, {}, "true", "false"
							end %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q12 %>
				</td>
				<td>
					<%= g.input :q7a, :label => false, as: :boolean do 
							g.check_box :q7a, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q7b, :label => false, as: :boolean do 
							g.check_box :q7b, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q7c, :label => false, as: :boolean do 
							g.check_box :q7c, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q7d, :label => false, as: :boolean do 
							g.check_box :q7d, {}, "true", "false"
							end %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q13 %>
				</td>
				<td>
					<%= g.input :q8a, :label => false, as: :boolean do 
							g.check_box :q8a, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q8b, :label => false, as: :boolean do 
							g.check_box :q8b, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q8c, :label => false, as: :boolean do 
							g.check_box :q8c, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :q8d, :label => false, as: :boolean do 
							g.check_box :q8d, {}, "true", "false"
							end %>
				</td>
			</tr>
			<tr id = "last_row">
				<td style = "text-align: left">
					<%= @other %>
				</td>
				<td>
					<%= g.input :magnitude_othera, :label => false, as: :boolean do 
							g.check_box :magnitude_othera, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :magnitude_otherb, :label => false, as: :boolean do 
							g.check_box :magnitude_otherb, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :magnitude_otherc, :label => false, as: :boolean do 
							g.check_box :magnitude_otherc, {}, "true", "false"
							end %>
				</td>
				<td>
					<%= g.input :magnitude_otherd, :label => false, as: :boolean do 
							g.check_box :magnitude_otherd, {}, "true", "false"
							end %>
				</td>
			</tr>
		</table>

		<%= g.label @other_label %>
		<br>
		<%= g.text_field :other %>

		<%= g.submit @submit, class: "btn btn-primary" %>
		<%=link_to "Previous", survey_path(@user,:type=> 3,:social=>0), class: "btn btn-primary test" %>
	<% end %>
</body>