
<% @label = "How easy would you find the following tasks to complete in a spreadsheet program?" %>
<% @label2 = "How fluent are you with each of the following spreadsheet programs? (How well would you
				be able to use each)" %>
<% @label3 = "If Other Please Specify" %>				

<% q1 = "Create a new spreadsheet" %>
<% q2 = "Save a spreadsheet" %>
<% q3 = "Create multiple spreadsheet within one document" %>
<% q4 = "Cut,copy and paste text" %>
<% q5 = "Format cells" %>
<% q6 = "Find and use formulas" %>
<% q7 = "Create equations" %>
<% q8 = "Create charts" %>
<% q9 = "Sort information" %>
<% q10 = "Filter information" %>
<% q11 = "Delete and insert cells" %>
<% q12 = "Hide or unhide rows" %>
<% q13 = "Freeze panes" %>
<% q14 = "Calculate basic statistics such as sums and averages" %>
<% q15 = "Reference cells in a different sheet or file" %>

<% @excel = "Excel (Microsoft)" %>
<% @numbers = "Numbers (Apple)" %>
<% @calc = "Calc (Apple)" %>
<% @other = "Other" %>

	<body>
	<%= simple_form_for @spreadsheet do |f| %>
		<%= f.label @label %>

		<table id = "survey_format">
			<tr>
				<th>
				</th>
				<th>
					<%= @header7 %>
				</th>
				<th>
					<%= @header8 %>
				</th>
				<th>
					<%= @header9 %>
				</th>
				<th>
					<%= @header10 %>
				</th>
				<th>
					<%= @header11 %>
				</th>
				<th>
					<%= @header12 %>
				</th>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q1 %>
				</td>
				<td>
					<%= f.radio_button :q1, 6, :default => @spreadsheet.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 5, :default => @spreadsheet.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 4, :default => @spreadsheet.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 3, :default => @spreadsheet.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 2, :default => @spreadsheet.q1 %>				
				</td>
				<td>
					<%= f.radio_button :q1, 1, :default => @spreadsheet.q1 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q2 %>
				</td>
				<td>
					<%= f.radio_button :q2, 6, :default => @spreadsheet.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 5, :default => @spreadsheet.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 4, :default => @spreadsheet.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 3, :default => @spreadsheet.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 2, :default => @spreadsheet.q2 %>				
				</td>
				<td>
					<%= f.radio_button :q2, 1, :default => @spreadsheet.q2 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q3 %>
				</td>
				<td>
					<%= f.radio_button :q3, 6, :default => @spreadsheet.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 5, :default => @spreadsheet.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 4, :default => @spreadsheet.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 3, :default => @spreadsheet.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 2, :default => @spreadsheet.q3 %>				
				</td>
				<td>
					<%= f.radio_button :q3, 1, :default => @spreadsheet.q3 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q4 %>
				</td>
				<td>
					<%= f.radio_button :q4, 6, :default => @spreadsheet.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 5, :default => @spreadsheet.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 4, :default => @spreadsheet.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 3, :default => @spreadsheet.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 2, :default => @spreadsheet.q4 %>				
				</td>
				<td>
					<%= f.radio_button :q4, 1, :default => @spreadsheet.q4 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q5 %>
				</td>
				<td>
					<%= f.radio_button :q5, 6, :default => @spreadsheet.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 5, :default => @spreadsheet.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 4, :default => @spreadsheet.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 3, :default => @spreadsheet.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 2, :default => @spreadsheet.q5 %>				
				</td>
				<td>
					<%= f.radio_button :q5, 1, :default => @spreadsheet.q5 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q6 %>
				</td>
				<td>
					<%= f.radio_button :q6, 6, :default => @spreadsheet.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 5, :default => @spreadsheet.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 4, :default => @spreadsheet.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 3, :default => @spreadsheet.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 2, :default => @spreadsheet.q6 %>				
				</td>
				<td>
					<%= f.radio_button :q6, 1, :default => @spreadsheet.q6 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q7 %>
				</td>
				<td>
					<%= f.radio_button :q7, 6, :default => @spreadsheet.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 5, :default => @spreadsheet.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 4, :default => @spreadsheet.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 3, :default => @spreadsheet.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 2, :default => @spreadsheet.q7 %>				
				</td>
				<td>
					<%= f.radio_button :q7, 1, :default => @spreadsheet.q7 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q8 %>
				</td>
				<td>
					<%= f.radio_button :q8, 6, :default => @spreadsheet.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 5, :default => @spreadsheet.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 4, :default => @spreadsheet.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 3, :default => @spreadsheet.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 2, :default => @spreadsheet.q8 %>				
				</td>
				<td>
					<%= f.radio_button :q8, 1, :default => @spreadsheet.q8 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q9 %>
				</td>
				<td>
					<%= f.radio_button :q9, 6, :default => @spreadsheet.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 5, :default => @spreadsheet.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 4, :default => @spreadsheet.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 3, :default => @spreadsheet.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 2, :default => @spreadsheet.q9 %>				
				</td>
				<td>
					<%= f.radio_button :q9, 1, :default => @spreadsheet.q9 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q10 %>
				</td>
				<td>
					<%= f.radio_button :q10, 6, :default => @spreadsheet.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 5, :default => @spreadsheet.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 4, :default => @spreadsheet.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 3, :default => @spreadsheet.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 2, :default => @spreadsheet.q10 %>				
				</td>
				<td>
					<%= f.radio_button :q10, 1, :default => @spreadsheet.q10 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q11 %>
				</td>
				<td>
					<%= f.radio_button :q11, 6, :default => @spreadsheet.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 5, :default => @spreadsheet.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 4, :default => @spreadsheet.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 3, :default => @spreadsheet.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 2, :default => @spreadsheet.q11 %>				
				</td>
				<td>
					<%= f.radio_button :q11, 1, :default => @spreadsheet.q11 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q12 %>
				</td>
				<td>
					<%= f.radio_button :q12, 6, :default => @spreadsheet.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 5, :default => @spreadsheet.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 4, :default => @spreadsheet.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 3, :default => @spreadsheet.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 2, :default => @spreadsheet.q12 %>				
				</td>
				<td>
					<%= f.radio_button :q12, 1, :default => @spreadsheet.q12 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q13 %>
				</td>
				<td>
					<%= f.radio_button :q13, 6, :default => @spreadsheet.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 5, :default => @spreadsheet.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 4, :default => @spreadsheet.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 3, :default => @spreadsheet.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 2, :default => @spreadsheet.q13 %>				
				</td>
				<td>
					<%= f.radio_button :q13, 1, :default => @spreadsheet.q13 %>				
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= q14 %>
				</td>
				<td>
					<%= f.radio_button :q14, 6, :default => @spreadsheet.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 5, :default => @spreadsheet.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 4, :default => @spreadsheet.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 3, :default => @spreadsheet.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 2, :default => @spreadsheet.q14 %>				
				</td>
				<td>
					<%= f.radio_button :q14, 1, :default => @spreadsheet.q14 %>				
				</td>
			</tr>
			<tr id = "last_row">
				<td style = "text-align: left">
					<%= q15 %>
				</td>
				<td>
					<%= f.radio_button :q15, 6, :default => @spreadsheet.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 5, :default => @spreadsheet.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 4, :default => @spreadsheet.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 3, :default => @spreadsheet.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 2, :default => @spreadsheet.q15 %>				
				</td>
				<td>
					<%= f.radio_button :q15, 1, :default => @spreadsheet.q15 %>				
				</td>
			</tr>		
		</table>

		<br>
		<%= f.submit "Submit", class: "btn btn-primary" %>

	<% end %>


	<%= simple_form_for @spreadsheet_fluentcy do |f| %>
		<%= f.label @label2 %>
		<br>
		<br>

		<table id = "survey_format" >
			<tr>
				<th>
				</th>
				<th>
					<%= @header1 %>
				</th>
				<th>
					<%= @header2 %>
				</th>
				<th>
					<%= @header3 %>
				</th>
				<th>
					<%= @header4 %>
				</th>
				<th>
					<%= @header5 %>
				</th>
				<th>
					<%= @header6 %>
				</th>
			</tr>
			<tr>
				<td style="text-align: left">
					<%= @excel %>
				</td>
				<td>
					<%= f.radio_button :excel, 6, :default => @spreadsheet_fluentcy.excel %>				
				</td>
				<td>
					<%= f.radio_button :excel, 5, :default => @spreadsheet_fluentcy.excel %>				
				</td>
				<td>
					<%= f.radio_button :excel, 4, :default => @spreadsheet_fluentcy.excel %>				
				</td>
				<td>
					<%= f.radio_button :excel, 3, :default => @spreadsheet_fluentcy.excel %>				
				</td>
				<td>
					<%= f.radio_button :excel, 2, :default => @spreadsheet_fluentcy.excel %>				
				</td>
				<td>
					<%= f.radio_button :excel, 1, :default => @spreadsheet_fluentcy.excel %>				
				</td>
			</tr>
			<tr>
				<td style="text-align: left">
					<%= @numbers %>
				</td>
				<td>
					<%= f.radio_button :numbers, 6, :default => @spreadsheet_fluentcy.numbers %>				
				</td>
				<td>
					<%= f.radio_button :numbers, 5, :default => @spreadsheet_fluentcy.numbers %>				
				</td>
				<td>
					<%= f.radio_button :numbers, 4, :default => @spreadsheet_fluentcy.numbers %>				
				</td>
				<td>
					<%= f.radio_button :numbers, 3, :default => @spreadsheet_fluentcy.numbers %>				
				</td>
				<td>
					<%= f.radio_button :numbers, 2, :default => @spreadsheet_fluentcy.numbers %>				
				</td>
				<td>
					<%= f.radio_button :numbers, 1, :default => @spreadsheet_fluentcy.numbers %>				
				</td>
			</tr>
			<tr>
				<td style="text-align: left">
					<%= @calc %>
				</td>
				<td>
					<%= f.radio_button :calc, 6, :default => @spreadsheet_fluentcy.calc %>				
				</td>
				<td>
					<%= f.radio_button :calc, 5, :default => @spreadsheet_fluentcy.calc %>				
				</td>
				<td>
					<%= f.radio_button :calc, 4, :default => @spreadsheet_fluentcy.calc %>				
				</td>
				<td>
					<%= f.radio_button :calc, 3, :default => @spreadsheet_fluentcy.calc %>				
				</td>
				<td>
					<%= f.radio_button :calc, 2, :default => @spreadsheet_fluentcy.calc %>				
				</td>
				<td>
					<%= f.radio_button :calc, 1, :default => @spreadsheet_fluentcy.calc %>				
				</td>
			</tr>
			<tr>
				<td style="text-align: left">
					<%= @other %>
				</td>
				<td>
					<%= f.radio_button :magnitude_other, 6, :default => @spreadsheet_fluentcy.magnitude_other %>				
				</td>
				<td>
					<%= f.radio_button :magnitude_other, 5, :default => @spreadsheet_fluentcy.magnitude_other %>				
				</td>
				<td>
					<%= f.radio_button :magnitude_other, 4, :default => @spreadsheet_fluentcy.magnitude_other %>				
				</td>
				<td>
					<%= f.radio_button :magnitude_other, 3, :default => @spreadsheet_fluentcy.magnitude_other %>				
				</td>
				<td>
					<%= f.radio_button :magnitude_other, 2, :default => @spreadsheet_fluentcy.magnitude_other %>				
				</td>
				<td>
					<%= f.radio_button :magnitude_other, 1, :default => @spreadsheet_fluentcy.magnitude_other %>				
				</td>
			</tr>		
		</table>

		<%= f.label @label3 %>
		<br>
		<%= f.text_field :other %>
		<br>
		<%= f.submit "Submit", class: "btn btn-primary" %>
		
	<% end %>
</body>