<head>

  <style = "text/css">
    #space{
      padding: 0em;      
      width: 4em;
      padding-right: 0px;
      margin-left: 0px;
    }
  </style>

  <script type = "text/javascript">
      
  </script>
</head>

  <body> 
    <% if !skills.nil? %>  
      <% if @tracker 
          @color = "#EFEFEF"
        else
          @color = "#DCDCDC"
        end        
        %>
      <% @tracker = !@tracker 
          @endorsers = Endorse.where(:skill_id=>skills.skill_id).first(6)
      %>       
      <div class = "row" style= "padding-top: 5px; background-color:<%= @color%>; width: 95%; margin-left:auto; margin-right: auto" >
        <div class = "col-lg-5">
          <h2 style = "margin: 0px; padding-left: 0px; text-align: left"><%= skills.label %> </h2>
        </div>
        <div class = "col-lg-7">
          <div class = "row" style = "margin-top: 15px;">
            <% @endorsers.each do |y| %>
              <%  @p = Photo.find_by(:user_id=>y.endorser_id) %>
              
              <div class = "col-lg-1" style = "padding: 0px; padding-bottom: 5px; width: 40px; text-align: center;">
                <% if !@p.nil? %>
                    <%= image_tag @p.photo.url, :class => "pic", :style => "width: 30px; height: 30px;" %>
                  <% else %>
                    <%= image_tag "prof.jpeg", :class => "pic", :style => "width: 30px; height: 30px;" %>
                  <% end %>
              </div>

            <% end %>

            <div class = "col-lg-1" style = "padding: 0px; padding-top: 5px; text-align: center; width: 40px">        <% if skills.times_endorsed > 6 %>
                  +<%= (t.times_endorsed -6) %>
                <% end %>
            </div>
          </div> <!-- closes row-->
        </div>
      </div>

      <div class = "row" style = "padding-bottom: 5px; background-color:<%= @color%>;width: 95%; margin-left: auto; margin-right: auto; position: relative; y=-15px">        

        <% if skills.user_id == @userID %>

            <div class = "col-lg-2" id = "space" style = "padding-left: 1.2em">
                <div class = "hover" style = "width: 70%">
                  <%= link_to image_tag('edit.png'), edit_skill_path(skills.skill_id), class: "btn btn-small btn-info",
                  :style =>"padding:3px", :id => "edit"%>
                  <div class = "tooltip">
                    Click here to edit
                  </div>
                </div>
            </div>

            <div class = "col-lg-2" id = "space">
              <div class = "hover" style = "width: 70%; height: 29px; ">
                  <%= link_to image_tag('delete.png'), skills, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-danger", :style=>"padding: 3px; padding-top: 0px; height: 29px", :id=> "delete" %>
                  <div class = "tooltip">
                    Click here to delete
                  </div>
              </div>
            </div>
        <% else %>
            <% @endorsed = Endorse.find_by(skill_id: skills.skill_id, endorser_id: @userID) %>
              <% if @endorsed.nil? %>
                <% @endor = Endorse.new %>
                  <%= simple_form_for @endor do |f| %>

                    <%= f.hidden_field :skill_id , :value => skills.skill_id %>
                    <%= f.hidden_field :endorser_id, :value => @userID %>
                    <br>  
                    <%= f.submit "Endorse", class: "btn btn-primary"%>
                  <% end %>
              <% else %>
                <%= simple_form_for @endorsed do |f| %>                    

                    <% f.hidden_field :skill_id , :value => @endorsed.skill_id %>
                    <% f.hidden_field :endorser_id, :value => @endorsed.endorser_id %>
                    <br>  
                    <%= f.submit "Unendorse", class: "btn btn-primary"%>
                <% end %>
              <% end %>
        <%end%>

        <div class = "col-lg-3" style = "padding: 0px">
          <% @count = skills.times_endorsed %>
            <% if @count > 0 && @count ==1 %>
                <p> <%= @count %> :endorment </p>
            <% elsif @count > 1 %>
              <p> <%= @count %> :endorments </p>
            <% end %>
        </div> 
      </div> <!-- closes row -->
    <% end%>
 </body>
