<div class = 'row'>
  <div class = 'col-md-12' id= <%= container %> >
  </div>
</div>
<script>
  var data = <%= data %>
  var labels =  <%= labels.to_s.html_safe %>
  var categories =  <%= categories.to_s.html_safe %>
  var container = <%= container %>;
  var size = <%= size.to_s.html_safe  %>;
  multiBarGraph(container, data, labels, categories, size)
</script>