<div class='report-wrapper'>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="panel-heading">Number of responses</div>
      <div class = 'col-md-12'>
        <%= data['numResponses'] %>
      </div>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-md-6 half-graph'>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading">Ages</div>
          <div class = 'col-md-12'>
            <%= render :partial => 'graph', :locals => {container: 'age_graph', data: data['ages'], labels: data['ageLabels'], size: %q['half']}%>
          </div>
        </div>
      </div>
    </div>
    <div class = 'col-md-6'>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading">Gender</div>
          <div class = 'col-md-12'>
            <%= render :partial => 'graph', :locals => {container: 'gender_graph', data: data['genders'], labels: data['genderLabels'], size: %q['half']}%>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-md-12 full-graph'>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading">Education</div>
          <div class = 'col-md-12'>
            <%= render :partial => 'graph', :locals => {container: 'education_graph', data: data['education'], labels: data['educationLabels'], size: %q['full']}%>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class = 'row'>
    <div class = 'col-md-12'>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading">Language</div>
          <div class = 'col-md-12'>
            <%= render :partial => 'multi_graph', :locals => {container: 'language_graph', data: data['languages'], labels: data['languageLabels'],
              categories: data['languageCategories'], size: %q['full']}%>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>