<div class="row">
	
	<div class="col-lg-2">
	</div>

	<div class = "col-lg-2">
		<%= link_to "Expereances", survey_path(@user, :type=>0), class: "btn btn-small btn-primary" %>
	</div>

	<div class = "col-lg-2">
		<%= link_to "Personality", survey_path(@user, :type=>1), class: "btn btn-small btn-primary" %>
	</div>
	
	<div class = "col-lg-2">
		<%= link_to "Profile", survey_path(@user, :type=>2), class: "btn btn-small btn-primary" %>
	</div>
	
	<div class = "col-lg-2">
		<%= link_to "Technology", survey_path(@user, :type=>3), class: "btn btn-small btn-primary" %>	
	</div>

	<div class="col-lg-2">
	</div>

</div>

	<div id="partial" >
		<% if @survey_type == '0' %>
			<%= render 'shared/survey/survey_exp' %>
		<% elsif @survey_type == '1' %>
			<%= render 'shared/survey/survey_per' %>
		<% elsif @survey_type == '2' %>
			<%= render 'shared/survey/survey_profile' %>
		<% elsif @survey_type == '3' %>
			<%= render 'shared/survey/survey_tech' %>
		<% end %>
	</div>