<% @header1 = "Completely Fluent" %>
<% @header2 = "Quite Fluent" %>
<% @header3 = "Somewhat Fluent" %>
<% @header4 = "Minimal Fluency" %>
<% @header5 = "Not Fluent" %>
<% @header6 = "I don't know" %>

<% @header7 = "Very Easy" %>
<% @header8 = "Easy" %>
<% @header9 = "Neutral" %>
<% @header10 = "Difficult" %>
<% @header11 = "Very Difficult" %>
<% @header12 = "I don't know what this is" %>

<% @header13 = "Disagree" %>
<% @header14 = "Somewhat Disagree" %>
<% @header15 = "Neutral" %>
<% @header16 = "Somewhat Agree"%>
<% @header17 = "Agree" %>

<% @header13 = "Yes, I have used this" %>
<% @header14 = "No, I have not used this" %>
<% @header15 = "Not sure"%>

<% @other = "Other" %>
<% @other_label = "If Other Please Specify" %>
<% @continue = "Save & Continue" %>
<% @submit = "Submit" %>

<div class="row">
	
	<div class="col-lg-2">
	</div>

	<div class = "col-lg-2">		
		<%= link_to image_tag('account.png'), survey_path(@user,:type=>2), class: "btn btn-primary", id: "survey_pic"%>
	</div>

	<div class = "col-lg-2">
		<%= link_to image_tag('per.png'), survey_path(@user,:type=> 1), class: "btn btn-primary", id: "survey_pic"%>
	</div>
	
	<div class = "col-lg-2">
		<%= link_to image_tag('exp.png'), survey_path(@user,:type=> 0), class: "btn btn-primary", id: "survey_pic"%>	
	</div>
	
	<div class = "col-lg-2">
		<%= link_to image_tag('tech.png'), survey_path(@user,:type=>3), class: "btn btn-primary", id: "survey_pic"%>	
	</div>

	<div class="col-lg-2">
	</div>

</div>

	<div id="partial" >
		<% if @survey_type == '0' %>
			<%= render 'shared/survey/exp/survey' %>
		<% elsif @survey_type == '1' %>
			<%= render 'shared/survey/per/survey' %>
		<% elsif @survey_type == '2' %>
			<%= render 'shared/survey/profile/survey' %>
		<% elsif @survey_type == '3' %>
			<%= render 'shared/survey/tech/survey' %>
		<% end %>
	</div>