<head>  
  <style type="text/css">

    #title{

      font-size: 2em;
      font-weight: bold;
      line-height: 1em
    }

    .pic{
      border-right:0em solid grey;
      padding-right: 3em;
      padding-bottom: 1em;

    }
    
    .change{
      background-color: #E6E6E6;
      height: 7em;
      border: none;
      resize: none;
    }

    .form{
      height: 100%;
    }

    .btnChange{
      background: none;
      border: none;
    }    

    #pic_fix{
      background-color: #428bca;
      border-color: #428bca;
      border-radius: 3px;
    }

  </style>

  <script type="text/javascript">
<<<<<<< HEAD
    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
=======

    $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
>>>>>>> f525c470cbce5b41f808865a5e8f71be2774a00f
    $('#myTab a[href="#exp"]').tab('show'); 
  </script>
</head>


<<<<<<< HEAD
<body>
  <% if @user.admin? %>
    <%= render :partial => 'shared/profile_viewing/admin' %>  
  <% elsif @user.id == @owner.id %>
    <% if @owner.employer? %>          
      <%= render :partial => 'shared/profile_viewing/owner_employer' %>
    <% else %>        
      <%= render :partial => 'shared/profile_viewing/owner_employee' %>
    <% end %>
  <% else %> <!-- The viewer is not the owner -->
    <% if !@owner.employer? %>
        <%= render :partial => 'shared/profile_viewing/guest_employee' %>
    <% else %>
        <%= render :partial => 'shared/profile_viewing/guest_employer' %>
    <% end %>
=======
<body>  
    <% if @user.id == @owner.id %>
        <% if @owner.employer? %>          
          <%= render :partial => 'shared/profile_viewing/owner_employer' %>
        <% else %>        
          <%= render :partial => 'shared/profile_viewing/owner_employee' %>
        <% end %>
    <% else %> <!-- The viewer is not the owner -->
        <% if !@owner.employer? %>
            <%= render :partial => 'shared/profile_viewing/guest_employee' %>
        <% else %>
            <%= render :partial => 'shared/profile_viewing/guest_employer' %>
        <% end %>
>>>>>>> f525c470cbce5b41f808865a5e8f71be2774a00f
  <% end %>
</body>
