<head>
  <%= include_gon %>
  <style type="text/css">

    #title{

      font-size: 2em;
      font-weight: bold;
      line-height: 1em
    }

    .pic{
      border-right:0em solid grey;
      padding-right: 3em;
      padding-bottom: 1em;

    }
    
    .change{
      background-color: #E6E6E6;
      height: 7em;
      border: none;
      resize: none;
    }

    .form{
      height: 100%;
    }

    .btnChange{
      background: none;
      border: none;
    }

    #survey_pic{
      width: 6em;
      height: 5em;
    }

  </style>

  <script type="text/javascript">

    $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

function save()
  {
    var g = document.getElementById("self").value;
    <% @o %> = g;

    alert(<%= @o %>);
  }
  
  </script>
</head>

<body>
  <% if  @owner.employer?%>
      <div border = 0 style ="margin-left: 5.5em" >
        <div class = "row" height = 30px style = "padding-left: 1.5em;">
            <div class = "col-lg-4" style ="" >
                <div>
                    <%= image_tag('prof.jpeg', :class => "pic") %>
                 </div>
            </div>
            <div class = "col-lg-8" style = "">
                <p id = "title"> <%= @owner.fname %> <%= @owner.lname %> </p>
                <p id = "title"> Hiring At  <%= @owner.company_name %> </p>

                <p id = "title"> 
                  <% if(!@owner.phone_number.nil?) %>
                    Contact: <%= @owner.phone_number %>
                  <% end %>
                </p>
                <p id = "title" style = "font-size: 3em"> 
                  <% if(!@owner.email.nil?) %>
                    <%= @owner.email %>
                  <% end %>
                </p>
            </div>
        </div>
        <!-- render profile postings >
         
      </div>

    <!-- -------------------------------------------------------------------------------- -->
<% else %>

  <div class = "row" height = 30px style = "">

      <div class = "col-lg-1">
      </div>
      <div class = "col-lg-4" style ="" >
          <div style = "">
              <%= image_tag('prof.jpeg', :class => "pic") %>
           </div>
      </div>
      <div class = "col-lg-1"></div>
      <div class = "col-lg-6" style = "">
          <p id = "title" style = "font-size: 3em"> <%= @owner.fname%> <%= @owner.lname%> </p>
          <p id = "title" style = "font-size:2em"> <%= @owner.city%> <%= @owner.province%> </p>
          <p id = "title" style = "font-size: 1em"> <%= @owner.email%></p>
          <% @postings = @postings.to_a %>
          <% if @postings.size >= 1 %>

            <table style = "width: 100%; max-height: 165px; background: #FFFFE0; border-radius: 5px; padding: 1em;">
              <tr style = "background: #FFFFB4; border-radius: 5px;">
                <td>
                  Notifications
                </tr>
              </td>
              <tr>
                <td style = "padding-left: 1em;">
                  Recommendations
                  <ul>
                    <% if !@postings.empty? && !@posting.nil? %>
                      <% if @postings.size >= 1 %>
                        <li><%= @postings[0].title %></li>
                      <% end %>
                      <% if @postings.size >= 2 %>
                        <li><%= @postings[1].title %></li>
                      <% end %>
                      <% if @postings.size >= 3 %>
                        <li><%= @postings[2].title %></li>
                      <% end %>
                    <%end%>
                  </ul>
                  <% if @postings.size >= 4 %>
                      <p style = "text-align: right; padding: 0em; margin: 0em; padding-right: 1em; padding-bottom: 1em;"><%= link_to "More", {controller: "skills", action: "reccomend"} %></p>
                  <% end %>

                </td>
              </tr>
            </table>
          <% end %>
      </div>
  </div>


  <div class = "row" style = "padding-top: 2em">
    <div class = "col-lg-5" style = "height: 20em; vertical-align: top;">

          <ul class="nav nav-tabs">
            <li class = "active"><a href="#do" data-toggle="tab">About Me</a></li>
            <!--<li><a href="#network" data-toggle="tab">Your Network</a></li> -->
          </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active content" id="do"> 
          <%= form_for (@owner),url: profile_path(@owner), :controller => "profile_controller", :action => 'update', :class => "form" do |f| %>
          <%= f.text_area :info, :class => "change" %>

          <%= f.submit "Change", :class => "btnChange", :id => "more" %>
          <% end %>

        </div>
        
      </div>
    </div>

    <div class="col-lg-1"></div>

    <div class = "col-lg-6">
      <ul class="nav nav-tabs">
        <li class = "active"><a href="#skills" data-toggle="tab">Skills</a></li>
        <li><a href="#survey" data-toggle="tab">Survey</a></li>
        <li><a href="#exp" data-toggle="tab">Experiences</a></li>
        <li><a href="#ref" data-toggle="tab">References</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active content" id="skills" style = ""> 
          <% @array = @skills.to_a %>
            <%= link_to "Add a skill",skills_path, :id => "more"%> 
          <% if(@array.empty?) %>
            <p> No skills added yet</p>
          <%else%>
            <% finish = 4 %>
            <ul>
              <% for i in 0..finish%>
                <% if(i < @array.length) %>
                  <li> <%= @array[i].label %> </li>
                <%end%>
              <%end%>
            </ul>
            <% if @array.length > finish %>
              <div style = "" align = "right">
                <%= link_to "More",skills_path, :id => "more"%> 
              </div>
            <% end %>
          <%end%>
        </div>

        <div class ="tab-pane fade content" id = "survey">

          <div class="row">
              <div class = "col-lg-3">              
                  <%= link_to image_tag('exp.png'), survey_path(@user,:type=> 0), class: "btn btn-default", id: "survey_pic"%>           
                  Experiences       
              </div>

              <div class = "col-lg-3">
                <%= link_to image_tag('per.png'), survey_path(@user,:type=> 1), class: "btn btn-default", id: "survey_pic"%>
                Personality
              </div>

              <div class = "col-lg-3">
                <%= link_to image_tag('account.png'), survey_path(@user,:type=>2), class: "btn btn-default", id: "survey_pic"%>
                Profile
              </div>

              <div class = "col-lg-3">
                <%= link_to image_tag('tech.png'), survey_path(@user,:type=>3), class: "btn btn-default", id: "survey_pic"%>
                Technology
              </div>
          </div>
          <%= link_to "Take Survey Here", survey_path(@user), id: "more",  style:"text-shadow:none;" %>
        </div>

        <div class="tab-pane fade content" id="exp">
            <% @array = @experiences.to_a %> 
            <%= link_to "Add a Experience",experiences_path, :id => "more"%> 
          <% if(@array.empty?) %>
            <p> No experiences added yet </p>
          <%else %>
            <% finish = 4 %>
            <% for i in 0..finish%>
              <% if(i < @array.length) %>
                <% exp = @array[i].title + " - " + @array[i].company_name %>
                  <%= link_to exp, {:controller => "experiences", :action => "details", :id => @array[i].experience_id}, :id => "more"%></br>
              <%end%>
            <%end%>
            
              <div style = "" align = "right">
                <%= link_to "More",experiences_path, :id => "more"%>
            </div>
          <%end%>


        </div>
        <div class="tab-pane fade content" id="ref">
          <% @array = @references.to_a %>
          <%= link_to "Add a Reference",references_path, :id => "more"%>
           <% if(@array.empty?) %>
              <p>No references added yet</p>
          <%else%>
            <% finish = 4 %>
            <% for i in 0..finish%>
              <% if(i < @array.length) %>
                <% ref = @array[i].fname + " " + @array[i].lname + " - " + @array[i].relationship %>
                
                  <p> <%= link_to ref, {:controller => "references", :action => "one_ref", :id => @array[i].reference_id}, :id => "more"%> </p>
              <% end %>
            <% end %>
            <% if @array.length > finish + 1 %>
              </br>
              <div style = "" align = "right">
                <%= link_to "More",references_path, :id => "more"%>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>

    </div>
  </div>
  <% end %>
</body>