<head>
	<script type="text/javascript">
    function hide(){        
        document.getElementById("gen").selectedIndex = -1;
    }
    function showSaved1(){
      $("#saved1").fadeIn();
      setTimeout(function(){$("#saved1").fadeOut("slow")}, 1000)
    }

</script>
</head>
<% @label = "Please select how much you disagree or agree with each of the following statements" %>

<% @q1 = "I can manage conflict with group members effectively" %>
<% @q2 = "I listen to others and am receptive to their ideas" %>
<% @q3 = "I’m aware of others’ emotions, perspectives and behaviours when in a group" %>
<% @q4 = "I consider others’ needs and priorities" %>
<% @q5 = "I am always involved in group tasks and discussions" %>
<% @q6 = "When in a group my body languages shows that I am actively participating" %>
<body>	
	<%= simple_form_for @interpersonal, remote: true do |f| %>
		
		<%= f.label @label %>
		<%= f.hidden_field :user_id , :value => @interpersonal.user_id %>

		<table id ="survey_format">
			<tr>
				<th>					
				</th>
				<th>
					<%= $header13 %>
				</th>
				<th>
					<%= $header14 %>
				</th>
				<th>
					<%= $header15 %>
				</th>
				<th>
					<%= $header16 %>
				</th>
				<th>
					<%= $header17 %>
				</th>
			</tr>
			<tr>
				<td style = "text-align: left; width: 30%">
					<%= @q1 %>
				</td>
				<td style = "width: 14%">				
					<%= f.radio_button :q1, 1, :default => @interpersonal.q1  %>				
				</td>
				<td style = "width: 14%">
					<%= f.radio_button :q1, 2, :default => @interpersonal.q1  %>
				</td>
				<td style = "width: 14%">
					<%= f.radio_button :q1, 3, :default => @interpersonal.q1  %>
				</td>
				<td style = "width: 14%">
					<%= f.radio_button :q1, 4, :default => @interpersonal.q1  %>
				</td>
				<td style = "width: 14%">
					<%= f.radio_button :q1, 5, :default => @interpersonal.q1  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q2 %>
				</td>
				<td>				
					<%= f.radio_button :q2, 1, :default => @interpersonal.q2  %>				
				</td>
				<td>
					<%= f.radio_button :q2, 2, :default => @interpersonal.q2  %>
				</td>
				<td>
					<%= f.radio_button :q2, 3, :default => @interpersonal.q2  %>
				</td>
				<td>
					<%= f.radio_button :q2, 4, :default => @interpersonal.q2  %>
				</td>
				<td>
					<%= f.radio_button :q2, 5, :default => @interpersonal.q2  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q3 %>
				</td>
				<td>				
					<%= f.radio_button :q3, 1, :default => @interpersonal.q3  %>				
				</td>
				<td>
					<%= f.radio_button :q3, 2, :default => @interpersonal.q3  %>
				</td>
				<td>
					<%= f.radio_button :q3, 3, :default => @interpersonal.q3  %>
				</td>
				<td>
					<%= f.radio_button :q3, 4, :default => @interpersonal.q3  %>
				</td>
				<td>
					<%= f.radio_button :q3, 5, :default => @interpersonal.q3  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q4 %>
				</td>
				<td>				
					<%= f.radio_button :q4, 1, :default => @interpersonal.q4  %>				
				</td>
				<td>
					<%= f.radio_button :q4, 2, :default => @interpersonal.q4  %>
				</td>
				<td>
					<%= f.radio_button :q4, 3, :default => @interpersonal.q4  %>
				</td>
				<td>
					<%= f.radio_button :q4, 4, :default => @interpersonal.q4  %>
				</td>
				<td>
					<%= f.radio_button :q4, 5, :default => @interpersonal.q4  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q5 %>
				</td>
				<td>				
					<%= f.radio_button :q5, 1, :default => @interpersonal.q5  %>				
				</td>
				<td>
					<%= f.radio_button :q5, 2, :default => @interpersonal.q5  %>
				</td>
				<td>
					<%= f.radio_button :q5, 3, :default => @interpersonal.q5  %>
				</td>
				<td>
					<%= f.radio_button :q5, 4, :default => @interpersonal.q5  %>
				</td>
				<td>
					<%= f.radio_button :q5, 5, :default => @interpersonal.q5  %>
				</td>
			</tr>
			<tr id ="last_row">
				<td style = "text-align: left">
					<%= @q6 %>
				</td>
				<td>				
					<%= f.radio_button :q6, 1, :default => @interpersonal.q6  %>				
				</td>
				<td>
					<%= f.radio_button :q6, 2, :default => @interpersonal.q6  %>
				</td>
				<td>
					<%= f.radio_button :q6, 3, :default => @interpersonal.q6  %>
				</td>
				<td>
					<%= f.radio_button :q6, 4, :default => @interpersonal.q6  %>
				</td>
				<td>
					<%= f.radio_button :q6, 5, :default => @interpersonal.q6  %>
				</td>
			</tr>		
		</table>
		<div class="row">
			<div class = "col-lg-2">
				<%= f.submit $submit, class: "btn btn-large btn-primary", onClick: "showSaved1();"%> 
			</div>
			<div class = "col-lg-4" id = "saved1" style= "display: none">
				<div class = "alert alert-success" style = "width: 125px; padding: 6px; text-align: center; margin-bottom: 0px;">
					Changes Saved
				</div>
			</div>
		</div>
	<% end %>
</body>