<head>
	<script type="text/javascript">
    function hide(){        
        document.getElementById("gen").selectedIndex = -1;
    }
    function showSaved3(){
      $("#saved3").fadeIn();
      setTimeout(function(){$("#saved3").fadeOut("slow")}, 1000)
    }

</script>
</head>
<body>	
	<%= simple_form_for @self, remote: true do |f| %>

		<% @instruction = "Please select how much you disagree or agree with each of the following statements" %>
		<% @label = "Self-Direction Skills" %>

		<% @q1 = "I set goals independently" %>
		<% @q2 = "I can organize competing priorities" %>
		<% @q3 = "I persevere when things are tough" %>
		<% @q4 = "I ask others for feedback and advice" %>
		<% @q5 = "I consider others’ ideas seriously in thinking about my own work" %>
		<% @q6 = "When working on a project I reflect on past experiences (successes, challenges and failures) and use them to plan future actions" %>
		<% @q7 = "I seek out new experiences without worrying about what others think of me" %>
		<% @q8 = "I attempt new experiences without worrying about whether I’ll make mistakes" %>
		<% @q9 = "I’m willing to voice and support an opinion even if it will be unpopular with my peers" %>
		<% @q10 = "I recognize that large problems or projects may not have clear or simple solutions" %>
		<% @q11 = "When I do not solve a problem right away I take a different perspective and try again" %>
		
		<%= f.hidden_field :user_id , :value => @self.user_id %>
		<table id ="survey_format">
			<tr>
				<th>
					<%= @label %>
				</th>
				<th>
					<%= @header13 %>
				</th>
				<th>
					<%= @header14 %>
				</th>
				<th>
					<%= @header15 %>
				</th>
				<th>
					<%= @header16 %>
				</th>
				<th>
					<%= @header17 %>
				</th>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q1 %>
				</td>
				<td>				
					<%= f.radio_button :q1, 1, :default => @self.q1  %>				
				</td>
				<td>
					<%= f.radio_button :q1, 2, :default => @self.q1  %>
				</td>
				<td>
					<%= f.radio_button :q1, 3, :default => @self.q1  %>
				</td>
				<td>
					<%= f.radio_button :q1, 4, :default => @self.q1  %>
				</td>
				<td>
					<%= f.radio_button :q1, 5, :default => @self.q1  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q2 %>
				</td>
				<td>				
					<%= f.radio_button :q2, 1, :default => @self.q2  %>				
				</td>
				<td>
					<%= f.radio_button :q2, 2, :default => @self.q2  %>
				</td>
				<td>
					<%= f.radio_button :q2, 3, :default => @self.q2  %>
				</td>
				<td>
					<%= f.radio_button :q2, 4, :default => @self.q2  %>
				</td>
				<td>
					<%= f.radio_button :q2, 5, :default => @self.q2  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q3 %>
				</td>
				<td>				
					<%= f.radio_button :q3, 1, :default => @self.q3  %>				
				</td>
				<td>
					<%= f.radio_button :q3, 2, :default => @self.q3  %>
				</td>
				<td>
					<%= f.radio_button :q3, 3, :default => @self.q3  %>
				</td>
				<td>
					<%= f.radio_button :q3, 4, :default => @self.q3  %>
				</td>
				<td>
					<%= f.radio_button :q3, 5, :default => @self.q3  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q4 %>
				</td>
				<td>				
					<%= f.radio_button :q4, 1, :default => @self.q4  %>				
				</td>
				<td>
					<%= f.radio_button :q4, 2, :default => @self.q4  %>
				</td>
				<td>
					<%= f.radio_button :q4, 3, :default => @self.q4  %>
				</td>
				<td>
					<%= f.radio_button :q4, 4, :default => @self.q4  %>
				</td>
				<td>
					<%= f.radio_button :q4, 5, :default => @self.q4  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q5 %>
				</td>
				<td>				
					<%= f.radio_button :q5, 1, :default => @self.q5  %>				
				</td>
				<td>
					<%= f.radio_button :q5, 2, :default => @self.q5  %>
				</td>
				<td>
					<%= f.radio_button :q5, 3, :default => @self.q5  %>
				</td>
				<td>
					<%= f.radio_button :q5, 4, :default => @self.q5  %>
				</td>
				<td>
					<%= f.radio_button :q5, 5, :default => @self.q5  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q6 %>
				</td>
				<td>				
					<%= f.radio_button :q6, 1, :default => @self.q6  %>				
				</td>
				<td>
					<%= f.radio_button :q6, 2, :default => @self.q6  %>
				</td>
				<td>
					<%= f.radio_button :q6, 3, :default => @self.q6  %>
				</td>
				<td>
					<%= f.radio_button :q6, 4, :default => @self.q6  %>
				</td>
				<td>
					<%= f.radio_button :q6, 5, :default => @self.q6  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q7 %>
				</td>
				<td>				
					<%= f.radio_button :q7, 1, :default => @self.q7  %>				
				</td>
				<td>
					<%= f.radio_button :q7, 2, :default => @self.q7  %>
				</td>
				<td>
					<%= f.radio_button :q7, 3, :default => @self.q7  %>
				</td>
				<td>
					<%= f.radio_button :q7, 4, :default => @self.q7  %>
				</td>
				<td>
					<%= f.radio_button :q7, 5, :default => @self.q7  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q8 %>
				</td>
				<td>				
					<%= f.radio_button :q8, 1, :default => @self.q8  %>				
				</td>
				<td>
					<%= f.radio_button :q8, 2, :default => @self.q8  %>
				</td>
				<td>
					<%= f.radio_button :q8, 3, :default => @self.q8  %>
				</td>
				<td>
					<%= f.radio_button :q8, 4, :default => @self.q8  %>
				</td>
				<td>
					<%= f.radio_button :q8, 5, :default => @self.q8  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q9 %>
				</td>
				<td>				
					<%= f.radio_button :q9, 1, :default => @self.q9  %>				
				</td>
				<td>
					<%= f.radio_button :q9, 2, :default => @self.q9  %>
				</td>
				<td>
					<%= f.radio_button :q9, 3, :default => @self.q9  %>
				</td>
				<td>
					<%= f.radio_button :q9, 4, :default => @self.q9  %>
				</td>
				<td>
					<%= f.radio_button :q9, 5, :default => @self.q9  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q10 %>
				</td>
				<td>				
					<%= f.radio_button :q10, 1, :default => @self.q10  %>				
				</td>
				<td>
					<%= f.radio_button :q10, 2, :default => @self.q10  %>
				</td>
				<td>
					<%= f.radio_button :q10, 3, :default => @self.q10  %>
				</td>
				<td>
					<%= f.radio_button :q10, 4, :default => @self.q10  %>
				</td>
				<td>
					<%= f.radio_button :q10, 5, :default => @self.q10  %>
				</td>
			</tr>
			<tr id="last_row">
				<td style = "text-align: left">
					<%= @q11 %>
				</td>
				<td>				
					<%= f.radio_button :q11, 1, :default => @self.q11  %>				
				</td>
				<td>
					<%= f.radio_button :q11, 2, :default => @self.q11  %>
				</td>
				<td>
					<%= f.radio_button :q11, 3, :default => @self.q11  %>
				</td>
				<td>
					<%= f.radio_button :q11, 4, :default => @self.q11  %>
				</td>
				<td>
					<%= f.radio_button :q11, 5, :default => @self.q11  %>
				</td>
			</tr>
		</table>
		<div class="row">
			<div class = "col-lg-2">
				<%= f.submit "Submit", class: "btn btn-large btn-primary", onClick: "showSaved3();"%> 
			</div>
			<div class = "col-lg-4" id = "saved3" style= "display: none">
				<div class = "alert alert-success" style = "width: 125px; padding: 6px; text-align: center; margin-bottom: 0px;">
					Changes Saved
				</div>
			</div>
		</div>	
	<% end %>
</body>