<head>
	<script type="text/javascript">
    function hide(){        
        document.getElementById("gen").selectedIndex = -1;
    }
    function showSaved(){
      $("#saved").fadeIn();
      setTimeout(function(){$("#saved").fadeOut("slow")}, 1000)
    }

</script>
</head>

<% @label = "Please select how much you disagree or agree with each of the following statements" %>

<% @q1 = "I can usually think of lots of new ideas WITH specific guidelines" %>
<% @q2 = "I can usually think of lots of new ideas WITHOUT specific guidelines" %>
<% @q3 = "I prefer working with others because exchanging ideas helps me think of more ideas" %>
<% @q4 = "I generate several possible solutions or approaches to a problem or project" %>
<% @q5 = "I evaluate all possible solutions using criteria of practicality, efficiency and elegance to choose the best solution" %>
<% @q6 = "I look at situations and processes from a variety of viewpoints in order to identify problems" %>
<% @q7 = "Given a specific goal I can come up with several sub-goals and a variety of ways to achieve them" %>
<% @q8 = "I think ahead in a project to anticipate and avoid possible problems" %>
<body>
	<%= simple_form_for @thinking, remote: true do |f| %>		
		
		<%= f.label @label %>
		<%= f.hidden_field :user_id , :value => @thinking.user_id %>

		<table id ="survey_format">
			<tr>
				<th>					
				</th>
				<th>
					<%= $header13 %>
				</th>
				<th>
					<%= $header14 %>
				</th>
				<th>
					<%= $header15 %>
				</th>
				<th>
					<%= $header16 %>
				</th>
				<th>
					<%= $header17 %>
				</th>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q1 %>
				</td>
				<td>				
					<%= f.radio_button :q1, 1, :default => @thinking.q1  %>				
				</td>
				<td>
					<%= f.radio_button :q1, 2, :default => @thinking.q1  %>
				</td>
				<td>
					<%= f.radio_button :q1, 3, :default => @thinking.q1  %>
				</td>
				<td>
					<%= f.radio_button :q1, 4, :default => @thinking.q1  %>
				</td>
				<td>
					<%= f.radio_button :q1, 5, :default => @thinking.q1  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q2 %>
				</td>
				<td>				
					<%= f.radio_button :q2, 1, :default => @thinking.q2  %>				
				</td>
				<td>
					<%= f.radio_button :q2, 2, :default => @thinking.q2  %>
				</td>
				<td>
					<%= f.radio_button :q2, 3, :default => @thinking.q2  %>
				</td>
				<td>
					<%= f.radio_button :q2, 4, :default => @thinking.q2  %>
				</td>
				<td>
					<%= f.radio_button :q2, 5, :default => @thinking.q2  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q3 %>
				</td>
				<td>				
					<%= f.radio_button :q3, 1, :default => @thinking.q3  %>				
				</td>
				<td>
					<%= f.radio_button :q3, 2, :default => @thinking.q3  %>
				</td>
				<td>
					<%= f.radio_button :q3, 3, :default => @thinking.q3  %>
				</td>
				<td>
					<%= f.radio_button :q3, 4, :default => @thinking.q3  %>
				</td>
				<td>
					<%= f.radio_button :q3, 5, :default => @thinking.q3  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q4 %>
				</td>
				<td>				
					<%= f.radio_button :q4, 1, :default => @thinking.q4  %>				
				</td>
				<td>
					<%= f.radio_button :q4, 2, :default => @thinking.q4  %>
				</td>
				<td>
					<%= f.radio_button :q4, 3, :default => @thinking.q4  %>
				</td>
				<td>
					<%= f.radio_button :q4, 4, :default => @thinking.q4  %>
				</td>
				<td>
					<%= f.radio_button :q4, 5, :default => @thinking.q4  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q5 %>
				</td>
				<td>				
					<%= f.radio_button :q5, 1, :default => @thinking.q5  %>				
				</td>
				<td>
					<%= f.radio_button :q5, 2, :default => @thinking.q5  %>
				</td>
				<td>
					<%= f.radio_button :q5, 3, :default => @thinking.q5  %>
				</td>
				<td>
					<%= f.radio_button :q5, 4, :default => @thinking.q5  %>
				</td>
				<td>
					<%= f.radio_button :q5, 5, :default => @thinking.q5  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q6 %>
				</td>
				<td>				
					<%= f.radio_button :q6, 1, :default => @thinking.q6  %>				
				</td>
				<td>
					<%= f.radio_button :q6, 2, :default => @thinking.q6  %>
				</td>
				<td>
					<%= f.radio_button :q6, 3, :default => @thinking.q6  %>
				</td>
				<td>
					<%= f.radio_button :q6, 4, :default => @thinking.q6  %>
				</td>
				<td>
					<%= f.radio_button :q6, 5, :default => @thinking.q6  %>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left">
					<%= @q7 %>
				</td>
				<td>				
					<%= f.radio_button :q7, 1, :default => @thinking.q7  %>				
				</td>
				<td>
					<%= f.radio_button :q7, 2, :default => @thinking.q7  %>
				</td>
				<td>
					<%= f.radio_button :q7, 3, :default => @thinking.q7  %>
				</td>
				<td>
					<%= f.radio_button :q7, 4, :default => @thinking.q7  %>
				</td>
				<td>
					<%= f.radio_button :q7, 5, :default => @thinking.q7  %>
				</td>
			</tr>
			<tr id = "last_row">
				<td style = "text-align: left">
					<%= @q8 %>
				</td>
				<td>				
					<%= f.radio_button :q8, 1, :default => @thinking.q8  %>				
				</td>
				<td>
					<%= f.radio_button :q8, 2, :default => @thinking.q8  %>
				</td>
				<td>
					<%= f.radio_button :q8, 3, :default => @thinking.q8  %>
				</td>
				<td>
					<%= f.radio_button :q8, 4, :default => @thinking.q8  %>
				</td>
				<td>
					<%= f.radio_button :q8, 5, :default => @thinking.q8  %>
				</td>
			</tr>		
		</table>
		<div class="row">
			<div class = "col-lg-2">
				<%= f.submit $submit, class: "btn btn-large btn-primary", onClick: "showSaved();"%> 
			</div>
			<div class = "col-lg-4" id = "saved" style= "display: none">
				<div class = "alert alert-success" style = "width: 125px; padding: 6px; text-align: center; margin-bottom: 0px;">
					Changes Saved
				</div>
			</div>
		</div>
	<% end %>
</body>