<head>
  <script language = "javascript">
    function change_chatbox(){
    var NAME = document.getElementById("chatbox");
    var currentClass = NAME.className;
    if (currentClass == "dropup open") { // Check the current class name
        NAME.className = "dropup";   // Set other class name
    } else {
        NAME.className = "dropup open";  // Otherwise, use `second_name`
    }
}
$(function() {
  var faye = new Faye.Client('http://localhost:9292/faye');
  faye.subscribe('<%=@channel%>', function(data) {
    eval(data);
  });
});

function hold(){

  document.getElementsByTagName("html")[0].setAttribute("style","overflow:hidden");
}

function scroll(){

  document.getElementsByTagName("html")[0].setAttribute("style","overflow:scroll");
}
  </script>
</head>
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style = "border: 0px solid white; background: rgba(255,255,255,0); width: 100%" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class = "container" style= "width: 100%; padding: 0px">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style = "background-color:black; width: 100%;margin-top:10px;">

      <ul class="nav pull-right">
      <% if user_signed_in?%>
        <% @friends = Friendship.where(receiver_id: @user.user_id, accepted: true) %>
        <% @friends = @friends + Friendship.where(sender_id: @user.user_id, accepted: true) %>
        <% @online = Array.new %>
        <% @offline = Array.new %>
        <% 
        @friends.each do |r|
          if r.receiver_id==@user.user_id
            @friend = User.find_by(user_id: r.sender_id)
            if @friend.online
              @online.push(@friend)
            else
              @offline.push(@friend)
            end
          else
            @friend = User.find_by(user_id: r.receiver_id)
            if @friend.online
              @online.push(@friend)
            else
              @offline.push(@friend)
            end
          end
        end
        %>  

        <li class="dropup" id="accountmenu">  
          <a class="dropdown-toggle" id = "brand" data-toggle="dropdown" style = "text-shadow: none; cursor:pointer"> Friends<b class="caret"></b></a>  
          <ul class="dropdown-menu">  
        <% @other = User.find(4) %>
        <% @channel = "/"+3.to_s+"chatwith"+ 4.to_s %>
        <% @messages = Message.where(sender_id: @other.user_id, receiver_id: @user.user_id)
           @messages = @messages + Message.where(sender_id: @user.user_id, receiver_id: @other.user_id)
           @messages = @messages.sort_by { |obj| obj.sent_at } #loads all the past messages, ordered by date
        %>
        <li class="dropup" id="chatbox" style = "width = auto">  
          <a id = "brand" style = "text-shadow: none; cursor:pointer; width = 450px;", onClick = "change_chatbox()" > 
            <%= @other.fname + " " + @other.lname%>
            <b class="caret"></b>
          </a> 
          <div class = "dropdown-menu dropdown-menu-chat"> 
            <div onmouseover = "hold();" onmouseout = "scroll();" style = "overflow: scroll; max-height: 400px;">
              <%= render 'messages/privatechat' %>
            </div>
              <%= render 'messages/privatechatform' %>
          </div>
        </li>     
        <li class="dropup" id="accountmenu" style = "width: 100px; text-align: right;">  
          <a class="dropdown-toggle" id = "brand" data-toggle="dropdown" style = "text-shadow: none; cursor:pointer"> Chat<b class="caret"></b></a>  
          <ul class="dropdown-menu" style = "text-align: left;">  
            <li role="presentation" class="dropdown-header">Online Friends</li>
            <% @online.each do |r| %>
              <li><%= link_to r.fname+" "+r.lname, profile_path(r) %></li>
            <% end %>
            <% if @online.empty? %>
              <li role = "presentation" class = "divider"></li>
            <% end %>
            <li role="presentation" class="dropdown-header">Offline Friends</li>
            <% @offline.each do |t| %>
              <li><%= link_to t.fname+" "+t.lname, profile_path(t) %></li>
            <% end %>
            <% if @offline.empty? %>
              <li role = "presentation" class = "divider"></li>
            <% end %>
            <li><%= link_to "All friends", network_path%> </li>
          </ul>              
        </li>
      <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div>
  </nav>
